body {
    margin: 0;
}
.container {
    background-color: teal;
    padding: 20px 100px 0;
    padding: 30px;
}
.box {
    margin-bottom: 40px;
    text-align: center;
    color: white;
    width: 100%;
}
.box img {
    width: 350px;
}
.box p {
    width: 500px;
    font-size: 18px;
    margin: 10px auto;
}